package ${package.Controller};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.raycloud.web.common.result.Result;
import io.swagger.annotations.Api;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.RequestMapping;
import ${cfg.parent}.repository.${entity}Repository;
import ${package.Entity}.${entity};
import io.swagger.annotations.ApiOperation;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;
import ${package.Service}.${table.serviceName};
import java.util.List;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author yangsen
 * @since ${date}
 */
@Slf4j
@Api(tags={"$!{table.comment} 前端控制器"})
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@AllArgsConstructor
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName},${entity},String> {
#else
public class ${table.controllerName} {
#end

private final ${table.serviceName} ${entity}Service;
private final ${entity}Repository ${entity}Repository;

/**
  * 根据id查询
  * @return
  */
@GetMapping(value = "/get/{id}")
@ApiOperation(value = "通过id获取")
public Result<${entity}> getById(@PathVariable(name = "id") String id){
        return Result.success(${entity}Service.getById(id));
    }

/**
  * 分页列表
  * @return
  * @param current
  * @param size
  */
@GetMapping(value = "/page/{current}/{size}")
@ApiOperation(value = "分页获取")
public Result<IPage<${entity}>>page(@PathVariable(name = "current")Long current,@PathVariable(name = "size")Long size){
        IPage<${entity}> page=new Page<${entity}>(current,size);
        return Result.success(${entity}Service.page(page));
    }
/**
  * 添加数据
  * @param entity
  * @return Result
  */
@PostMapping(value = "/add")
@ApiOperation(value = "保存数据")
public Result add${entity}(@RequestBody ${entity} entity){
        return Result.success(${entity}Service.save(entity));
    }
/**
  * 修改数据
  * @return
  */
@PostMapping(value = "/modify")
@ApiOperation(value = "更新数据")
public Result modify${entity}(@RequestBody ${entity} entity){
        return Result.success(${entity}Service.updateById(entity));
    }
@DeleteMapping(value = "/delById/{id}")
public Result delById(@PathVariable(name = "id") String id) {
        return Result.success(${entity}Service.removeById(id));
    }
}
