package ${package.ServiceImpl};
import javax.annotation.Resource;
import com.raycloud.web.base.BaseServiceImpl;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import ${cfg.parent}.repository.${entity}Repository;
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import ${package.Mapper}.${table.mapperName};
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${table.serviceImplName} extends BaseServiceImpl<${table.mapperName},${entity}> implements ${table.serviceName}{

    private ${table.mapperName} ${entity}Mapper;
    private ${entity}Repository ${entity}Repository;

}
